<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Urban Simulation</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_core.css">
        
{% block static_files %}
{% endblock %}
</head>
<body>

<div id="siteHeader" class="pageWidthWrapper bgBlackShading1 ">
    {% block header_urls %}
    header_urls
    {% endblock %}
</div>    

<div id="mainHeader" class="pageWidthWrapper">
            <h1> {% block page_title %} page_title {% endblock %}</h1>      
        </div>   

     
      
        

<div id="mainPageContainer" class="pageWidthWrapper indexPageContainer">
    {% block main_content %}
    
    {% endblock %}  
        </div> 
        


  
   
</body>
</html>
